<div class="main-div">
  <mat-card class="card">
    <P class="titulo">Led Controller</P>
    <img *ngIf="isTurnedOn && wsservice.serverStatus" class="imgled" src="../../assets/images/LEDon.png">
    <img *ngIf="!isTurnedOn || !wsservice.serverStatus " class="imgled" src="../../assets/images/LEDoff.png">

    <mat-slide-toggle class="btnstatus" *ngIf="wsservice.serverStatus" [(ngModel)]="isTurnedOn"
                      color="primary">{{statusLed()}}</mat-slide-toggle>

    <div class="estatusServidor">
      <span class="material-icons">
      dns
      </span>
      <span *ngIf="wsservice.serverStatus" class="material-icons online">
      bolt
      </span>
      <span *ngIf="!wsservice.serverStatus" class="material-icons offline">
      bolt
      </span>
      Servidor {{statusServer()}}
    </div>


  </mat-card>
</div>
